*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
    background-color: fffffe;
}

.container{
    max-width: 1170px;
    width: 80%;
    margin: auto;
}

p{
    padding: 1rem;
}

.col{
    float: left;
    width: 360px;
    height: 100px;
    width: calc(100% / 3 - 1rem);
    padding: 0 1rem;
}

img{
    width: 100px;
}

/*
.text-left{
    text-align: left;
}
*/

h1{
    color: e5306f;
    padding: 1rem 0;
}

h3{
    color: white;
}

span{
    color: lightgray
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.debug .col{
    height: 200px;
    background-color: black;
}